.addons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: var(--size-gutter);
}

.addons__header {
  font-family: var(--font-family);
  font-weight: var(--font-weight-header);
  font-size: var(--font-header);
  line-height: var(--line-height-loose);
  color: var(--color-primary);
}

.addons__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 1rem 0;
}

@media (max-width: 768px) {
  .addons__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .addons {
    padding: var(--size-pad);
  }

  .addons__container {
    gap: 10px;
  }
}