.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    position: relative;

    color: var(--color-primary);
    text-align: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.hero__image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 2;
}

.hero__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero__logo-container {
    z-index: 3;
}

.hero__logo {
    height: 300px;
}

.hero__rise {
    z-index: 4;
}

.hero__rise h3 {
    margin: 0;

    color: var(--color-code-bg);
    font-family: var(--font-family);
    font-weight: var(--font-weight-thick);
    font-size: var(--font-header);
    line-height: var(--line-height-loose);
}

@media (max-width: 768px) {
    .hero__logo {
        height: 250px;
    }

    .hero__rise h3 {
        font-weight: var(--font-weight-normal);
        font-size: var(--font-xxl);
    }
}

@media (max-width: 600px) {
    .hero__logo {
        height: 200px;
    }
}