.paragraph {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: var(--size-gutter);
}

.paragraph h2 {
  margin-bottom: 10px;

  font-family: var(--font-family);
  font-weight: var(--font-weight-header);
  font-size: var(--font-header);
  line-height: var(--line-height-dense);
  color: var(--color-primary);
}

.paragraph p {
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-lg);
  line-height: var(--line-height-normal);
  color: var(--color-text);

  white-space: pre-wrap;
}

.paragraph a {
  width: fit-content;
  padding: .75rem 1.5rem;
  margin-top: 20px;
  margin-bottom: 20px;

  font-family: var(--font-family);
  font-weight: var(--font-weight-thick);
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  color: var(--color-code-bg);

  border-style: solid;
  border-color: var(--color-primary);
  background: var(--color-primary);
  background-image: linear-gradient(0, var(--color-code-bg), var(--color-code-bg));
  background-size: 0;
  background-repeat: no-repeat;
  background-position: bottom;

  cursor: pointer;
  overflow: hidden;
  transition: all .3s ease;
}

.paragraph a:hover {
  background-size: 100%;
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .paragraph {
    padding-bottom: 0;
  }
}

@media (max-width: 480px) {
  .paragraph {
    padding: var(--size-pad);
  }

  .paragraph p {
    font-size: var(--font-sm);
  }
}