.whatis {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;

  padding: var(--size-gutter);
}

.whatis__image {
  flex: 1.25;
  padding: var(--size-gutter);
}

.whatis__image img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .whatis {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .whatis__image {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .whatis__image {
    padding: var(--size-pad);
  }
}